* {
    font-family: Arial, Helvetica, sans-serif;
}

.lista {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
    align-items: center;
}

.item {
    list-style: none;
    background-color: #111;
    border-radius: 4px;
    width: 33%;
    padding: 2rem;
    
}
.item p{
    color: #b2b2b2;
}
.item h2{
    color: #fff;
    margin: 0;
}

.item span{
    color: #febe01;
}

.btn{
    color: #111;
    background-color: #febe01;
    text-decoration: none;
    border-radius: 4px;  
    padding: 8px;
    
}
.btn:hover{
    background-color: #332200;
}